.dialogs__inner {
   display: flex;
   
}


.dialogs__chats {
   padding: 0 20px;
}
.dialogs__chat {
   padding-top: 20px;
}

.dialogs__line {
   width: 2px;
   height: 100%;
   background-color: black;
}

.dialogs__screen {
   padding-left: 20px;
}
.dialogs__chat_name {
   font-size: 18px;
   padding-bottom: 10px;
}
.dialogs__chat_name.active {
   font-size: 26px;
}
.dialogs__screen_messages {
   display: flex;
}

.dialogs__screen_who {

}

.dialogs__screen_foto {
   width: 40px;
   border-radius: 50%;
}