.dialogs__inner {
   display: flex;
}

.dialogs__chats {
   padding: 0 20px;
}
.dialogs__chat {
   padding-top: 20px;
}

.dialogs__line {
   width: 2px;
   background-color: black;
}

.dialogs__screen {
   padding-left: 20px;
}

.dialogs__chat_name.active {
   font-size: 26px;
}


.dialogs__screen_who {
}

.dialogs__screen_foto {
   width: 40px;
   border-radius: 50%;
}
